<!--Footer-->
<div class="container-fluid footer">
  <div class="row col-md-12">
    <div class="col-md-3 footer-left">
      <a><b>3D Property Listing© 2021</b></a>
      <a>71 Ayer Rajah Crescent, #04-01, Singapore 139951</a>
      <a>+65 8813 2291</a>
    </div>
    <div class="col-md-6 footer-links">
      <div class="row col-md-12">
        <div class="col-md-3 f-link">
          <a><b>Buy</b></a>
          <a href="#">HDB Units</a>
          <a href="#">Condominium</a>
          <a href="#">Landed Property</a>
        </div>
        <div class="col-md-3 f-link">
          <a><b>Rent</b></a>
          <a href="#">HDB Units</a>
          <a href="#">Condominium</a>
          <a href="#">Landed Property</a>
        </div>
        <div class="col-md-3 f-link">
          <a href="#"><b>Find Agent</b></a>
          <a href="#"><b>News Us</b></a>
        </div>
        <div class="col-md-3 f-link">
          <a href="#"><b>About Us</b></a>
          <a href="#"><b>Contact Us</b></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 footer-social">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook-f"></i>
    </div>
  </div>
</div>

<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquer.js"></script>
  <script src="/javascripts/regForm.js"></script>
</body>

</html>