<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/app.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />

  <title>YelpCamp</title>

<!-- new -->
  <link rel="stylesheet" href="/A.css">
<!-- price range bar -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<!-- price range bar -->
<!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- bootstrap -->
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/listings">YelpCamp</a>
    <a class="navbar-brand" href="/agent">Agent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if(!currentUser){ %>
          <li class="nav-item active">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/register">Sign Up</a>
          </li>
          <% } else{ %>
            <li class="nav-item active">
              <a class="nav-link" href="#">Signed In As <%= currentUser.username %></a>
            </li>
            <li class="nav-item active">
              <% if(currentUser && currentUser.isAgent){ %>
                <a class="nav-link" href="/agent/<%= currentUser.id %>">Profile</a>
                <% } else { %>
                  <a class="nav-link" href="">Profile</a>
                  <% } %>
            </li>
            <% if(currentUser && currentUser.isAdmin){ %>
              <li class="nav-item active">
                <a class="nav-link" href="/admin-dashboard">Dashboard</a>
              </li>
              <% } %>
                <li class="nav-item active">
                  <a class="nav-link" href="/logout">Log Out</a>
                </li>
                <% } %>
      </ul>

    </div>
  </nav>

  <div class="container py-3">
    <% if(error && error.length> 0){ %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <% } %>
        <% if(success && success.length> 0){ %>
          <div class="alert alert-success" role="alert">
            <%= success %>
          </div>
          <% } %>
  </div>