.container {
  align-items:center;
  flex-direction: row;
  background-color: "grey";
  border-width: 5;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
}

.chatOnlineFriend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.chatOnlineImgContainer {
  position: relative;
  margin-right: 10px;
}

.chatOnlineImg {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
  margin-right: 20px;
  float:left
}
.listingImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
  float:left;
}
.listingInfo {
  float:right;
}

.reviewBtn {
  float:right;
}



.chatOnlineBadge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 2px;
  right: 2px;
}




.sign {
  float:left;
}
.inputBox {
  width: 25%;
}

.offerInfo {
float:left;
}
.OfferForm {
  width:auto;
float:right;
}

.acceptBtn {
  margin-left: 20px;
  margin-right: 20px;
}



@media screen and (max-width: 768px) {
  .chatOnlineName {
    display: none;
  }
}
