.container {
  align-items:center;
  flex-direction: row;
  background-color: "grey";
  border-width: 5;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
}

.chatOnlineFriend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.chatOnlineImgContainer {
  position: relative;
  margin-right: 10px;
}

.chatOnlineImg {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
  margin-right: 20px;
  float:left
}
.listingImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
  float:left;
}

.userI {
padding-top:10px;
padding-left:10px;
width: 100%;
border-bottom-style: solid;
border-bottom-color: #BCBCBC;
border-width: thin;
border-left-style: solid;
border-left-color: #BCBCBC;
}



.listingInfo {
  float:left;
  width:90%;
}

.reviewBtn {
  float:right;
  margin-bottom: 10px;
}

.acceptRejectBtn {
  margin-bottom: 10px;
}



.chatOnlineBadge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 2px;
  right: 2px;
}




.sign {
  float:left;
}
.inputBox {
  width: 25%;
}

.offerInfo {
  padding-top:10px;
  padding-left:10px;
float:left;
border-left-style: solid;
border-left-color: #BCBCBC;
border-width: thin;
width:100%;
}

.offerInput {
  padding-bottom:10px;
}
.OfferForm {
  width:auto;
float:right;
padding-right:10px

}

.AgentOfferStatus{
  float:right;
}

.acceptBtn {
  background-color:#003580!important;
  padding-bottom:10px;
  border-radius:50%;
  margin-bottom:10px;

}

.acceptMessage {
  color: green
}
.rejectBtn {
  margin-bottom:10px;
  background-color: #e7e7e7!important;
  float:right;
  color:black!important;
}

.offerStatus {
  font-family:"Courier New", sans-serif;
  margin-bottom: -10px;
}

.offerButton {
  background-color: #003580!important;
}





@media screen and (max-width: 768px) {
  .chatOnlineName {
    display: none;
  }
}
