<%- include("../partials/header") %>

  <!-- <h1>Landing Page!</h1>
  <a href="/listings">View all listings</a> -->

  <!-- Video Background -->
  <video autoplay muted loop id="myVideo">
    <source src="img/loop.mp4" type="video/mp4">
  </video>
 
  <div class="container-fluid m-0 p-0">
    <div class="col-md-12 viewport-header flex-column">
      <h1 style="font-weight: 700;">The website that finds your<br>perfect home.</h1>
      <button class="btn" onclick="window.location=`/listings`;">START SEARCHING</button>
    </div>
  </div>

 

  <div class="container-fluid landing-overlay" id="gradient-bg">
    <div id="carouselExampleIndicators" class="carousel slide m-0 p-0" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row col-md-12 d-flex flex-direction-row benefit-desc">
            <div class="col-md-6 m-0  desc-insert">
              <h2 id="title-insert">
                Realest Experience.
              </h2>
              <p id="desc-insert">
                Our 3D Virtual Tour provides a seamless navigating experience for your prospects, with the ability to adjust their view, zoom in or out and embedded texts to understand as much about the property they are viewing in this 3D experience.
              </p>
            </div>
            <div class="col-md-6 m-0">
              <a>insert image</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
                    <div class="row col-md-12 d-flex flex-direction-row benefit-desc">
            <div class="col-md-6 m-0  desc-insert">
              <h2 id="title-insert">
                Pandemic Roof
              </h2>
              <p id="desc-insert" >
                With our 3D Virtual Tour, property viewers can enjoy the most immersive experience at the comfort of their own locations, timings and devices they use.
              </p>
            </div>
            <div class="col-md-6 m-0">
              <p>insert image</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row col-md-12 d-flex flex-direction-row benefit-desc">
            <div class="col-md-6 m-0  desc-insert">
              <h2 id="title-insert">
                Suitable for All.
              </h2>
              <p id="desc-insert">
                Regardless you are a Real Estate Agent, Developer, Architecturer, Interior Designer etc. Our 3D Virtual Tour allows you to showcase your beautiful properties, exhibitions and businesses.
              </p>
            </div>
            <div class="col-md-6 m-0">
              <p>insert image</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row col-md-12 d-flex flex-direction-row benefit-desc">
            <div class="col-md-6 m-0  desc-insert">
              <h2 id="title-insert">
                Higher Quality Prospects.
              </h2>
              <p id="desc-insert">
                Upon enjoying and understanding better what is displayed in the 3D Virtual Tour, the more interested prospects are more likely to contact you to find out more, bringing in more meaningful businesses.
              </p>
            </div>
            <div class="col-md-6 m-0">
              <p>insert image</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row col-md-12 d-flex flex-direction-row benefit-desc">
            <div class="col-md-6 m-0  desc-insert">
              <h2 id="title-insert">
                Live 24/7.
              </h2>
              <p id="desc-insert">
                Having our 3D Virtual Tour of the space you want to show your audience, you can share with as many prospects at any point in time. This creates more viewership to any space you want to showcase.
              </p>
            </div>
            <div class="col-md-6 m-0">
              <p>insert image</p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="container-fluid m-0 p-0 landing-overlay text-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#186aff" fill-opacity="1" d="M0,64L120,58.7C240,53,480,43,720,64C960,85,1200,139,1320,165.3L1440,192L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
    <h1 style="margin-bottom: 20px; font-weight: 600;">Are you a Real Estate Agent?<br>We cater to your real estate needs.<br></h1>
    <p style="font-size: 20px; letter-spacing: 0.5px;">We offer different services to assist you in selling your properties in Singapore.</p>
    <div class="row col-md-12 text-center" style="padding-top: 290px;">
      <div class="col-md-4 wwd-desc">
        <div class="tp-red" id="top-border">
          <i class="fas fa-eye" style="color: #ff5d5d"></i>
          <h4 style="color: #ff5d5d">360 Degree View</h4>
          <div id="text-wrapper">
            <p>
              Allow your audiences to view the whole surrounding at ultra-high resolution from one spot<br><br>
              Hotspots and major landmarks can be showcased for viewers to learn about the places they can head to within the vicinity<br><br>
              Creates lasting experiences for spaces like tourist attractions, exhibitions, museums, event spaces etc.
            </p>
          </div> 
        </div>
      </div>
      <div class="col-md-4 wwd-desc">
        <div class="tp-blue" id="top-border">
          <i class="fas fa-video" style="color: #705dff"></i>
          <h4 style="color: #705dff">Video Production</h4>
          <div id="text-wrapper">
            <p>
              We boost your branding online to grow your target audience and attract potential clients<br><br>
              We tailor-make videos to match each project to your unique business branding<br><br>
              We work hand in hand with you for your digital marketing campaigns, from crafting, scripting, shooting and engaging video content to achieve your campaign objectives.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 wwd-desc">
        <div class="tp-gold" id="top-border">
          <i class="fas fa-vr-cardboard" style="color: #ffde5d"></i>
          <h4 style="color: #ffde5d">Virtual Experience</h4>
          <div id="text-wrapper">
            <p>Unparalleled access for your audiences to your virtual location<br><br>
              Your audiences can view exactly what you see and how you feel at any point you are at in your space<br><br>
              Each project will be prepared based on our expertise and your views on the best 3D experience we can provide for your audiences.</p>
          </div>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#186aff" fill-opacity="1" d="M0,256L120,256C240,256,480,256,720,250.7C960,245,1200,235,1320,229.3L1440,224L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
  </div>

  <div class="container-fluid landing-overlay" id="gradient-bg">
    <div class="col-md-12 m-0 p-0 text-center" style="color: #fff;">
      <h1 style="margin-bottom: 5px; font-weight: 600;">Have some questions?</h1>
      <a style="font-size: 20px; letter-spacing: 0.5px;">Drop us a quick message and we'll get back to you ASAP.</a>
    </div>
    <div class="container">
      <div class="row col-md-12 d-flex flex-direction-row" style="padding-top: 50px;">
        <div class="col-md-6">
          <p>image here</p>
        </div>
        <div class="col-md-6">
          <form class="contact-us-landing" action="#">
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="First Name" id="firstName" name="firstName" required />
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Last Name" id="lastName" name="lastName" required />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="text" placeholder="Email" id="email" name="email" required />
            </div>
            <div class="input-field d-flex justify-content-center text-area-contact" style="height: 200px; border-radius: 12px; padding: 10px">
              <textarea style="background-color: transparent; border: none; resize: none;"rows="4" cols="50" placeholder="Say Hi!" required></textarea>
            </div>
            <button class="btn" style="border: 2px solid white">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>

  <script>document.getElementById("clicked").click();</script>
  <%- include("../partials/footer") %>