<%- include("partials/header") %>

  <h1>Login Form</h1>

  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="email" required>
    <!-- <input type="text" name="username" placeholder="username" required> -->
    <input type="password" name="password" placeholder="password" required>
    <button>Login</button>
  </form>

  <%- include("partials/footer") %>