<%- include("partials/header") %>

  <h1>Login Form</h1>

  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="email">
    <input type="number" name="phone" placeholder="phone">
    <!-- <input type="text" name="username" placeholder="username" required> -->
    <input type="password" name="password" placeholder="password" required>
    <p style="color: red;">Have the 'Remember Me' toggle below 'Password' box</p>
    <button>Login</button>
  </form>

  <%- include("partials/footer") %>