<%- include("partials/header") %>
  <div class="container">
    <div class="row col-md-12 p-0 login-card shadow">
      <!--Left Panel for Picture-->
      <div class="col-md-5 m-0 p-0 login-img">
        <img class="img-fluid" src="/img/log.svg" alt="Login Image">
      </div>
      <!--Right Panel for Login Form-->
      <div class="col-md-7 login-form">
        <div class="inputs-login" id="inputs-login">
          <form action="/login" method="POST">
            <h2>Member Login</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="email" name="email" placeholder="Email" id="email" required />
            </div>

            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Password" required />
            </div>

            <div class="login-check d-flex justify-content-end align-items-center">
              <label class="m-0 p-0 d-flex justify-content-between align-items-center">Remember Me
                <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe"></label>
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="login-submit d-flex flex-column">
              <div>
                <button type="button" class="fgt-pwd" onClick="showReset()">Forgot Password?</button>
              </div>
              <div>
                <button type="submit" onClick="lsRememberMe()" class="btn solid btn-reg">Login</button>
              </div>
            </div>
          </form>
        </div>

        <div class="inputs-login" id="input-forgetpwd">
          <h2>Forgot Password?</h2>
          <a>You can reset your password here.</a>

          <!--Forget pwd-->
          <form action="/forgot" method="POST">
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" id="email" name="email" required />
            </div>
            <input type="submit" value="Reset" class="btn solid btn-reg" />
          </form>
        </div>

      </div>
    </div>
  </div>

  <script>
    function showReset() {
      console.log("hi");
      var x = document.getElementById("inputs-login");
      x.style.display = "none";

      var y = document.getElementById("input-forgetpwd");
      y.style.display = "block";
    }
  </script>

  <!-- remember me script -->
  <script>
    const rmCheck = document.getElementById("rememberMe"),
    emailInput = document.getElementById("email");

if (localStorage.checkbox && localStorage.checkbox !== "") {
  rmCheck.setAttribute("checked", "checked");
  emailInput.value = localStorage.username;
} else {
  rmCheck.removeAttribute("checked");
  emailInput.value = "";
}

function lsRememberMe() {
  if (rmCheck.checked && emailInput.value !== "") {
    localStorage.username = emailInput.value;
    localStorage.checkbox = rmCheck.value;
  } else {
    localStorage.username = "";
    localStorage.checkbox = "";
  }
}

  </script>

  <%- include("partials/footer") %>