<%- include("partials/header") %>

  <h1>Sign Up Form</h1>

  <form action="/register" method="POST" enctype="multipart/form-data">
    <ul class="typeOfRole">
      <li>
        <input type="radio" id="public" name="roleCode" value="public" />
        <label for="public">Seeker</label>
      </li>
      <li>
        <input type="radio" id="agent" name="roleCode" value="agent" />
        <label for="agent">Agent</label>
      </li>
    </ul>

    <input type="text" name="username" placeholder="username*" required>
    <input type="email" name="email" placeholder="email*" required>
    <input type="password" name="password" placeholder="password*" required>
    <input type="text" name="firstName" placeholder="first name">
    <input type="text" name="lastName" placeholder="last name">
    <!-- <input type="text" name="avatar" placeholder="avatar url"> -->
    <input type="file" name="image" accept="image/*">
    <input type="number" name="phone" placeholder="phone">
    <input type="string" name="cea" placeholder="cea number">
    <button>Sign Up</button>
  </form>

  <%- include("partials/footer") %>