/* Register */
/* Roles */
.typeOfRole {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
}
.typeOfRole li {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}
.typeOfRole label,
.typeOfRole input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.typeOfRole input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}
.typeOfRole input[type="radio"]:checked+label,
.Checked+label {
  background: yellow;
}
.typeOfRole label {
  padding: 5px;
  border: 1px solid #CCC;
  cursor: pointer;
  z-index: 90;
}
.typeOfRole label:hover {
  background: #DDD;
}

/* MAP */
#map {
  width: 50%;
  margin-top: 20px;
  height: 400px;
}
