<%- include("../../partials/header") %>

  <% users.forEach(function(user){ %>
    <div>
      <% if(user.isAgent==true){ %>
        <p>
          Username: <strong>
            <%= user.username %>
          </strong>
          Status:
          <% if(user.agentStatus==false){ %>
            <strong>Pending</strong>
            <% } else if(user.agentStatus==true){ %>
              <strong>Approved</strong>
              <% } %>
                <a href="/admin-dashboard/agent/<%= user._id %>">More Info</a>
        </p>
        <% } %>
    </div>
    <% }); %>

      <%- include("../../partials/footer") %>