<%- include("../../partials/header") %>

  <h1>Admin Dashboard!</h1>
  <p><a href="/admin-dashboard/agent">View agent</a></p>
  <p><a href="/admin-dashboard/public">View public</a></p>

  <%- include("../../partials/footer") %>