<%- include("../../partials/header") %>

  <h1>Admin Dashboard!</h1>
  <p><a href="/dashboard/agents">Agent Application</a></p>
  <p><a href="/dashboard/accounts">Manage Account</a></p>
  <p><a href="/dashboard/listings">Manage Listing</a></p>

  <%- include("../../partials/footer") %>