<%- include("../../partials/header") %>

  <h1>Admin Dashboard!</h1>
  <a href="/admin-dashboard/agent">View agent</a>
  <a href="/admin-dashboard/public">View public</a>

  <%- include("../../partials/footer") %>