<%- include("../../partials/header") %>

  <h1>Admin Dashboard!</h1>
  <p><a href="/dashboard/agentApplication">Agent Application</a></p>
  <p><a href="/dashboard/public">Manage Account</a></p>

  <%- include("../../partials/footer") %>