<%- include("../partials/header") %>
<script src="/javascripts/userSearch.js"></script>
<style>
  body {
    background-color: rgb(247,247,247);
  }
</style>
<script>
  //Get search result set
  var resultSet = `<%- JSON.stringify(users) %>`
</script>

  <div class="container">
    <% if(noMatch !==undefined){ %>
      <div class="col-md-12 m-0 p-0">
        <h3>
          <%= noMatch %>
        </h3>
        <div class="user-search">
          <form action="/user" method="GET" class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" name="search" placeholder="All Agents">
              <input type="submit" value="Search" class="btn btn-info">
            </div>
          </form>
        </div>
      </div>
  <% } %>
      <main class="row" style="display:flex; flex-wrap: wrap;" id="resultDiv">

      </main>

  </div>


  <script>
    loadData(resultSet);  
    // var endList = document.getElementById("footer");
    // var list = document.getElementById("resultDiv");

    // window.addEventListener('DOMContentLoaded', load);
    // function load() {
    //   addItems();
    // }

    // function addItems() {

    // }

  </script>
  
  <%- include("../partials/footer") %>