<%- include("../partials/header") %>
<script src="/javascripts/userSearch.js"></script>
<style>
  body {
    background-color: rgb(247,247,247);
  }
</style>
<script>
  //Get search result set
  var resultSet = `<%- JSON.stringify(users) %>`
</script>

  <div class="container">
    <% if(noMatch !==undefined){ %>
      <div class="col-md-12 m-0 p-0">
        <h3>
          <%= noMatch %>
        </h3>
        <div class="user-search">
          <form action="/user" method="GET" class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" name="search" placeholder="All Agents">
              <input type="submit" value="Search" class="btn btn-info">
            </div>
          </form>
        </div>
      </div>
  <% } %>
      <main class="row" style="display:flex; flex-wrap: wrap;" id="resultDiv">

      </main>

  </div>


  <script>
    const URL =
    "https://gist.githubusercontent.com/prof3ssorSt3v3/1944e7ba7ffb62fe771c51764f7977a4/raw/c58a342ab149fbbb9bb19c94e278d64702833270/infinite.json";
    document.addEventListener("DOMContentLoaded", () => {
        let options = {
            root: null,
            rootMargins: "0px",
            threshold: 0.5
        };
        const observer = new IntersectionObserver(handleIntersect, options);
        observer.observe(document.querySelector("footer"));
        loadData(resultSet);
    });
    function handleIntersect(entries) {
    if (entries[0].isIntersecting) {
        setTimeout(function() {loadData(resultSet);}, 1000)
    }
}

  </script>
  
  <%- include("../partials/footer") %>